<component name="libraryTable">
  <library name="Spring WEB MVC jars">
    <CLASSES>
      <root url="file://$USER_HOME$/Desktop/Spring WEB MVC jars" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
    <jarDirectory url="file://$USER_HOME$/Desktop/Spring WEB MVC jars" recursive="false" />
  </library>
</component>